footer {
    margin-top: 100px;
    background-color: #937D68;
    padding: 40px;
}

.footer_wrapper {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns_header {
    display: flex;
    gap: 31px;
}

nav {
    display: flex;
    gap: 30px;
}

.navlink {
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

.navlink:hover {
    color: #ebebeb;
}

.class {
    color: green;
}